/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  color: #111;
}

/* =========================
   CONTAINER
========================= */
.container {
  width: 100%;
  overflow-x: hidden;
}

/* =========================
   HEADER
========================= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.logoBlock {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 10px;
  color: #777;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.menu a:hover {
  color: #000;
}

.right {
  display: flex;
  align
